@keyframes animStar {
    from {
        transform: translateY(0rem);
    } 
    to {
        transform: translateY(-200rem);
    }
}


@keyframes gradient-rotate {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}