@import "base/animations";
@import "abstracts/variables";
@import "abstracts/asteroids";
@import "base/base";
@import "componets/about";
@import "componets/navbar";
@import "componets/experience";
@import "componets/projects";
@import "componets/skills";
@import "abstracts/stars";


.icon{
    height: 2.5rem;
    width: 2.5rem;
    fill: $primary;
}

