$background: rgb(40, 40, 40);
$text:rgb(255, 255, 255);
$text-dark: black;
$text-grey: rgb(167, 167, 167);
$primary: rgb(143, 0, 255);

// gradient button
$buttonColor1: #9B00B7;
$buttonColor2: #8B00B1;
$buttonColor3: #7300AA;
$buttonColor4: #5C00A4;
$buttonColor5: #45009E;
$buttonColor6: #2E0098;
$buttonColor7: #170092;
$buttonColor8: #00008C;
