.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 50px 0; /* Add some padding to the top and bottom */


&__line {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #888;
    transform: translateX(-50%);
}

&__element {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
    width: 75%; /* Make items half the width of the container */
    margin-left: 80%; /* Position items to the right of the center line */
}

&__element::before {
    content: '';
    position: absolute;
    left: -34.2px; /* Position the dot on the vertical line */
    top: 20px; /* Adjust to align with the element */
    width: 10px;
    height: 10px;
    background: #888;
    border-radius: 50%;
    z-index: 1;
}

&__element:nth-child(even)::before {
    left: auto;
    right: 50.55%; /* Position the dot on the vertical line for even elements */
}

&__element:nth-child(even) {
    margin-left: 0;
    
}

&__element.visible {
    opacity: 1;
    transform: translateY(0);
}



&__element:nth-child(even) {
    margin-left: 20px;
    margin-right: 0;
}

&__content-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

&__content {
    background: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    flex: 1;
}

&__element:nth-child(even) &__content {
    margin-right: 20px;
    margin-left: 0;
}

&__title {
    margin: 0;
}

&__subtitle {
    margin: 0;
    color: #bbb;
}

&__date {
    color: #888;
    margin-left: 20px;
}

&__element:nth-child(even) &__date {
    margin-right: 20px;
    margin-left: 0;
}

}