.sticky-navigation {
    width: 60%; 
    background-color: $background;
    box-shadow: 0 2px 4px $primary;
    padding: 10px 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    margin: 1.5rem auto; 
    opacity: 0;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    border-radius: 1rem;

    &.sticky {
        top: 0;
        opacity: 1;
    }

    .sticky-navigation-link {
        margin: 0 15px;
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
    }
}